.item-list {
    margin: 0px auto;
    width: 70%;
}

.item{
    display: flex;
    justify-content: flex-start;
    margint-top: 10px;
}
.item-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.item img{
    width: 100px;
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
    object-fit: contain;
}
.item-details{
    color: grey;
    font-size: 14px;
    margin: 0px;
    font-weight: 450;
}
.item-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.item-content h3{
    color: black;
    font-size: 17px;
    margin: 0px;
}
.item-code{
    color: grey;
    font-size: 12px;
    align-self: flex-start;
    margin: 0px;
    font-style: italic;
}

.item-price{
    margin: 0px;
    margin-right: 10px;
    font-size: 15px;
}
.item-divider{
    padding: 0px 10px;
}
.detail-title{
    font-weight: bold;
}
@media (max-width: 1300px){
    .item-list{
        width: 95%;
    }

}