.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: auto;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    max-width: 600px;
}

.form-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
}

input::placeholder {
    color: #ccc;
}

button {
    padding: 14px 25px;
    font-size: 16px;
    color: white;
    background-color: #005b96;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button:hover {
    background-color: #003f63;
}

.button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
}

.create-btn, .import-btn {
    background-color: #005b96;
    flex: 1;
    margin: 0 10px;
}
