.item-list {
    margin: 0px auto;
    width: 80%;
}

.item{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px;
}

.item img{
    width: 105px;
    height: 105px;
    padding:0px 20px;
}
.item-details{
    color: grey;
    font-size: 14px;
    margin: 10px 0px!important;
    font-weight: 450;
}
.item-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.item-content h3{
    color: black;
    font-size: 18px;
    margin: 0px;
}
.item-code{
    color: grey;
    font-size: 12px;
    align-self: flex-start;
    margin: 0px;
    font-style: italic;
}

.item-price{
    margin: 0px;
    margin-right: 10px;
    font-size: 15px;
}

@media (max-width: 1300px){
    .item-list{
        width: 95%;
    }

}